body {
    background: aliceblue;
    color: black;
 }

.button { 
  display: block; 
  width: 80px; 
  height: 80px; 
  background: #4E9CAF;
  padding: 10px; 
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
  border-radius: 5px; 
  color: white; 
  font-weight: bold;
}

.button-off { 
  display: block; 
  width: 80px; 
  height: 80px; 
  background: lightgray;
  padding: 10px; 
  text-align: center; 
  border-radius: 5px; 
  color: white; 
  font-weight: bold;
}

.speedButton-0 { 
  display: block; 
  width: 115px; 
  height: 25px; 
  background: red;
  padding: 2px; 
  text-align: center; 
  border-radius: 5px; 
  color: white; 
  font-weight: bold;
}

.speedButton-1 { 
  display: block; 
  width: 115px; 
  height: 25px; 
  background: orange;
  padding: 2px; 
  text-align: center; 
  border-radius: 5px; 
  color: white; 
  font-weight: bold;
}
.speedButton-2 { 
  display: block; 
  width: 115px; 
  height: 25px; 
  background: yellow;
  padding: 2px; 
  text-align: center; 
  border-radius: 5px; 
  color: white; 
  font-weight: bold;
}
.speedButton-3 { 
  display: block; 
  width: 115px; 
  height: 25px; 
  background: yellowgreen;
  padding: 2px; 
  text-align: center; 
  border-radius: 5px; 
  color: white; 
  font-weight: bold;
}
.speedButton-4 { 
  display: block; 
  width: 115px; 
  height: 25px; 
  background: green;
  padding: 2px; 
  text-align: center; 
  border-radius: 5px; 
  color: white; 
  font-weight: bold;
}

.speedButton-off { 
  display: block; 
  width: 115px; 
  height: 25px; 
  background: lightgray;
  padding: 2px; 
  text-align: center; 
  border-radius: 5px; 
  color: white; 
  font-weight: bold;
}

.speed-container {
  width: 120px;
  height: 30px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 50%;
  height: 500px;
  margin: 50px;
  display: flex;
  align-items: center;
  border: solid 3pt blue;
}

.directions {
  width: 300px;
  height: 350px;
  margin: 20px;
  float:left;
}

.speed {
  width: 120px;
  height: 200px;
  margin: 20px;
  float: left;
}

.top {
  width: 300px;
  height: 100px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  clear: both;
}

.middle {
  width: 300px;
  height: 100px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom {
  width: 300px;
  height: 100px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}