<!DOCTYPE html>

<head>
   <title>{{ title }}</title>
   <link rel="stylesheet" href="../static/style.css/">
</head>

<body>
   <h1>U-bot dashboard</h1>
   <h2>{{ direction }}</h2>
   <div class="directions">
      <div class="top">
         <a href="/forward" class="button">Forward</a>
      </div>
      <div class="middle">
         <div class="middle"><a href="/left" class="button">Left</a></div>
         <div class="middle"><a href="/stop" class="button">Stop</a></div>
         <div class="middle"><a href="/right" class="button">Right</a></div>
      </div>
      <div class="bottom">
         <a href="/reverse" class="button">Reverse</a>
      </div>
   </div>
   <div class="speed">
      <div class="speed-container"><a href="/full" class="speedButton">Full</a></div>
      <div class="speed-container"><a href="/fast" class="speedButton">Fast</a></div>
      <div class="speed-container"><a href="/medium" class="speedButton">Medium</a></div>
      <div class="speed-container"><a href="/slow" class="speedButton">Slow</a></div>
      <div class="speed-container"><a href="/zero" class="speedButton">Stop</a></div>
   </div>
   </h3>
</body>

</html>